.section-clients{
    padding: 94px 0;   
    }
    
.client-list{
    display: flex;
    justify-content: center;
}

.client-list .client-item{
    &:not(:last-child){
        margin-right: 30px;
    }
}

.client-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid $background-icon;
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        border: 1px solid $accent-color;
    }

    &:hover .client-card-icon,
    &:focus .client-card-icon{
        fill: $accent-color;
    }
}

.client-card-icon{
    fill: $background-icon;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

