.team{
    background-color: $accessorial-background-color;
    padding: 94px 0;
}

.team-card{
    background-color: $primary-background-color;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    text-align: center;

    &:not(:last-child){
        margin-right: 30px;
    }
}

.team-list{
    display: flex;
    flex-wrap: wrap;
}

.team-photo{
    margin-bottom: 30px;
}

.team-card  .subtitle{
    font-weight: 500;
}

.team .section-item{
    margin: 0 0 16px;
}

.team-card .subtitle,
.team-card .career{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
