html{
    box-sizing: border-box;
}

*
*::after,
*::before{
    box-sizing: inherit;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    background-color: $primary-background-color;
    color: $primary-text-color;
}

img, svg{
    display: block;
    max-width: 100%;
    height: auto;
}

button,
.button{
    cursor: pointer;
}

.list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.link{
    text-decoration: none;
}

.container{
    width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
    padding-right: 15px;
}

.page-header .container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.subtitle{
    margin-top: 0;
    margin-bottom: 10px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}